<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Contact</title>
</head>
<body>
<h3>Add new Contact</h3>
<div>
    <form action="#" th:action="@{/contacts/addContact}" th:object="${contactDto}" method="POST">
        <div>
            <label for="lastName">Last Name *</label>
            <input id="lastName" th:field="*{lastName}" type="text" placeholder="Last Name"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div>
            <label for="name">Name *</label>
            <input id="name" th:field="*{name}" type="text" placeholder="Name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="patronymic">Patronymic *</label>
            <input id="patronymic" th:field="*{patronymic}" type="text" placeholder="Patronymic"/>
            <div th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></div>
        </div>
        <div>
            <label for="mobilePhone">Mobile Phone *</label>
            <input id="mobilePhone" th:field="*{mobilePhone}" type="text"
                   placeholder="Format: +380(XX)XXXXXXX"/>
            <div th:if="${#fields.hasErrors('mobilePhone')}" th:errors="*{mobilePhone}"></div>
        </div>
        <div>
            <label for="homePhone">Home Phone</label>
            <input id="homePhone" th:field="*{homePhone}" type="text"
                   placeholder="Format: +380(XX)XXXXXXX"/>
            <div th:if="${#fields.hasErrors('homePhone')}" th:errors="*{homePhone}"></div>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input id="email" th:field="*{email}" type="text" placeholder="Format: same@example.com"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label for="city">Address city</label>
            <input id="city" th:field="*{city}" type="text" placeholder="Address City"/>
        </div>
        <div>
            <label for="street">Address street</label>
            <input id="street" th:field="*{street}" type="text" placeholder="Address Street"/>
        </div>
        <div>
            <label for="building">Address Building</label>
            <input id="building" th:field="*{building}" type="text" placeholder="Address Building"/>
        </div>
        <div>
            <label for="apartment">Address Apartment</label>
            <input id="apartment" th:field="*{apartment}" type="text"
                   placeholder="Address Apartment"/>
        </div>
        <div>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div>
<br/>
<a th:href="@{/contacts}">Back to contacts</a>
</body>
</html>