<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Contacts</title>
</head>

<body>
<div>
    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
    <hr/>

    <!--<ul id="messages"-->
        <!--th:with="notifyMessages=${session[T(com.katruk.domain.service.impl.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">-->
        <!--<li th:each="msg : ${notifyMessages}" th:text="${msg.text}"-->
            <!--th:class="${#strings.toLowerCase(msg.type)}">-->
        <!--</li>-->
        <!--<span th:if="${notifyMessages}" th:remove="all"-->
              <!--th:text="${session.remove(T(com.katruk.domain.service.impl.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>-->
    <!--</ul>-->

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>

    <br/><br/>
    <form th:action="@{/contacts/allContact}" method="POST">
        <input type="submit" value="Show all Contact"/>
    </form>
    <!--<br/>-->
    <form th:action="@{/contacts/findByLastName}" method="POST">
        <input name="lastName" type="text" id="lastName" placeholder="find by Last Name"/>
        <input type="submit" value="Find"/>
    </form>
    <!--<br/>-->
    <form th:action="@{/contacts/findByName}" method="POST">
        <input name="name" type="text" id="name" placeholder="find by name"/>
        <input type="submit" value="Find"/>
    </form>
    <!--<br/>-->
    <form th:action="@{/contacts/findByPhone}" method="POST">
        <input name="phone" type="text" id="phone" placeholder="find by number of phone"/>
        <input type="submit" value="Find"/>
    </form>
</div>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Last Name</th>
            <th>Name</th>
            <th>Patronymic</th>
            <th>Mobile Phone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.lastName}">lastName</td>
            <td th:text="${contact.name}">name</td>
            <td th:text="${contact.patronymic}">name</td>
            <td th:text="${contact.mobilePhone}">mobilePhone</td>
            <td>
                <form th:action="@{/contacts/edit}" method="GET">
                    <input type="hidden" name="contactId" value="contactId"
                           th:value="${contact.contactId}"/>
                    <input type="submit" value="Edit"/>
                </form>
                <form th:action="@{/contacts/delete}" method="POST">
                    <input type="hidden" name="contactId" value="contactId"
                           th:value="${contact.contactId}"/>
                    <!--<input type="hidden" th:name="contactId" th:value="${contact.contactId}"/>-->
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <form th:action="@{/contacts/add}" method="GET">
        <input type="submit" value="Add Contact"/>
    </form>

    <!--<a th:href="@{/contacts/add}">Add Contact</a>-->
</div>
</body>
</html>