<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit</title>
</head>
<body style="text-align:center;">
<h3>Change Contact</h3>
<hr/>
<form action="#" th:action="@{/contact/updateContact}" th:object="${contactDto}" method="POST">

    <div>
        <input type="text" th:value="${contactId}"/>

        <label>Last Name *</label>
        <input th:field="*{lastName}" type="text" placeholder="Last Name"
               th:value="${contact.lastName}"/>

        <!--<label for="lastName">Last Name *</label>-->
        <!--<input name="lastName" type="text" id="lastName" placeholder="Last Name"-->
        <!--th:value="${contact.lastName}"/>-->
    </div>

    <div>
        <label>Name *</label>
        <input th:field="*{name}" type="text" placeholder="Name" th:value="${contact.name}"/>
    </div>
    <div>
        <label>Patronymic *</label>
        <input th:field="*{patronymic}" type="text" placeholder="Patronymic"
               th:value="${contact.patronymic}"/>
    </div>
    <div>
        <label>Mobile Phone *</label>
        <input th:field="*{mobilePhone}" type="text"
               placeholder="Format: +380(XX)XXXXXXX" th:value="${contact.mobilePhone}"/>
    </div>
    <div>

        <input th:field="*{homePhone}" type="text"
               placeholder="Format: +380(XX)XXXXXXX" th:value="${contact.homePhone}"/>
    </div>
    <div>
        <label for="email">E-mail</label>
        <input th:field="*{email}" type="text" id="email" placeholder="E-mail"
               th:value="${contact.email}"/>
    </div>
    <div>
        <label for="city">Address city</label>
        <input th:field="*{city}" type="text" id="city" placeholder="Address City"
               th:value="${contact.city}"/>
    </div>
    <div>
        <label for="street">Address street</label>
        <input th:field="*{street}" type="text" id="street"
               placeholder="Address Street" th:value="${contact.street}"/>
    </div>
    <div>
        <label for="building">Address Building</label>
        <input th:field="*{building}" type="text" id="building"
               placeholder="Address Building" th:value="${contact.building}"/>
    </div>
    <div>
        <label for="apartment">Address Apartment</label>
        <input th:field="*{apartment}" type="text" id="apartment"
               placeholder="Address Apartment" th:value="${contact.apartment}"/>
    </div>
    <div>
        <button type="submit">Change</button>
        <button type="reset">Reset</button>
    </div>
</form>
<div th:text="${message}"></div>
<div>
    <ul>
        <li><a href="/contact/add">Add Contact</a></li>
        <li><a href="/contact">Back</a></li>
    </ul>
    <a href="/logOut">Log Out</a>
</div>
</body>
</html>