<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Log in</title>
</head>
<body>
<div>
    <h3>Log in</h3>
    <hr/>

    <form th:action="@{/login}" method="POST">
        <div>
            <input th:name="login" type="text" placeholder="Login"/>
            <br/>
            <input th:name="password" type="password" placeholder="Password"/>
            <br/>
            <div th:text="${error}"></div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Log In</button>
        </div>
    </form>
    <br/>
    <hr/>
    <form th:action="@{/registration}" method="GET">
        <input type="submit" value="Registration"/>
    </form>

</div>
</body>
</html>