<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Registration</h1>
<div>
    <form id="form" role="form" method="post" action="/registration">
        <label for="lastName">Last Name: </label>
        <input name="lastName" type="text" id="lastName" placeholder="lastName"/>
        <br/>
        <label for="name">First Name: </label>
        <input name="name" type="text" id="name" placeholder="name"/>
        <br/>
        <label for="patronymic">Patronymic: </label>
        <input name="patronymic" type="text" id="patronymic" placeholder="patronymic"/>
        <br/>
        <label for="login">Login: </label>
        <input name="login" type="text" id="login" placeholder="Login"/>
        <br/>
        <label for="password">Password: </label>
        <input name="password" type="password" id="password" placeholder="Password"/>
        <br/>
        <button type="button">Confirm</button>
        <button type="reset">Reset</button>
        <br/>
        <a href="/">Back</a>
    </form>

    <!--/*@thymesVar id="message" type="templates"*/-->
    <div th:text="${message}"></div>
</div>
</body>
</html>


<!--<form action="#" th:action="@{/user}" th:object="${user}" method="post">-->

<!--<p>Last Name: <input type="text" th:field="*{lastName}"/></p>-->
<!--<p>First Name: <input type="text" th:field="*{name}"/></p>-->
<!--<p>Patronymic: <input type="text" th:field="*{patronymic}"/></p>-->
<!--<br/>-->
<!--<p>Login: <input type="text" th:field="*{login}"/></p>-->
<!--<p>Password: <input type="text" th:field="*{password}"/></p>-->

<!--<p><input type="submit" value="Confirm"/> <input type="reset" value="Reset"/></p>-->
<!--</form>-->