<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="text-align:center;">
<h1>Contacts</h1>
<th:form method="POST" action="/contact/allContact">
    <input type="submit" value="Show all Contact"/>
</th:form>
<br/>
<th:form method="POST" action="/contact/findByName">
    <input name="name" type="text" id="name" placeholder="find by name"/>
    <input type="submit" value="Find by name"/>
</th:form>
<br/>
<th:form method="POST" action="/contact/findByLastName">
    <input name="lastName" type="text" id="lastName" placeholder="find by Last Name"/>
    <input type="submit" value="Find by Last Name"/>
</th:form>
<br/>
<th:form method="POST" action="/contact/findByPhone">
    <input name="phone" type="text" id="phone" placeholder="find by number of phone"/>
    <input type="submit" value="Find by phone"/>
</th:form>
<br/><br/>
<table border="1" align="center">
    <thead>
    <tr>
        <th>Last Name</th>
        <th>Name</th>
        <th>Mobile Phone</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.lastName}">lastName</td>
        <td th:text="${contact.name}">name</td>
        <td th:text="${contact.mobilePhone}">mobilePhone</td>
        <td>
            <a th:href="'/contact/edit/' + ${contact.id}">Edit</a>

            <form method="GET" action="/contact/edit1/tempContact.html">
                <input type="hidden" th:name="contactId" th:value="${contact.id}">
                <input type="button" value="Edit"/>
            </form>

            <form method="POST" action="/contact/delete">
                <input type="hidden" th:name="contactId" th:value="${contact.id}"/>
                <input type="submit" value="Delete"/>
            </form>
            <!--<a th:id="${contact.id}" th:onclick="'deleteContact(\'' + ${contact.id} + '\')'">Delete</a>-->
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/contact/add">Add Contacts</a>
<br/><br/>
<a href="/logOut">Log Out</a>
</body>
</html>

