<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info of User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Info of User</h1>
<div>
    <a href="/">Home</a>
</div>

<div>
    <hr/>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <input type="text" class="filter form-control"
                   placeholder="Find by Last Name / First Name / Mobile Phone"/>
        </div>
    </div>

    <hr/>
    <table>
        <thead>
        <th>Last Name</th>
        <th>Name</th>
        <th>Patronymic</th>
        <th>Mobile Phone</th>
        <th>Home Phone</th>
        <th>E-mail</th>
        <th>City</th>
        <th>Street</th>
        <th>Building</th>
        <th>Apartment</th>
        <th>DO IT</th>
        </thead>
        <tbody>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.person.lastName}" class="for-search">lastName</td>
            <td th:text="${contact.person.name}" class="for-search">name</td>
            <td th:text="${contact.person.patronymic}">patronymic</td>
            <td th:text="${contact.mobilePhone}" class="for-search">mobilePhone</td>
            <td th:text="${contact.homePhone}">homePhone</td>
            <td th:text="${contact.email}">email</td>
            <td th:text="${contact.address.city}">address city</td>
            <td th:text="${contact.address.street}">address street</td>
            <td th:text="${contact.address.building}">address building</td>
            <td th:text="${contact.address.apartment}">address apartment</td>
            <td>
                <a th:href="${'/contact/edit/' + contact.id}">Edit</a>

                <a th:id="${contact.id}" th:onclick="'deleteContact(\'' + ${contact.id} + '\')'"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<br/>

<a href="/phoneBook/add">Add Contacts</a>
<br/>
<a href="/logOut">Log Out</a>
</body>
</html>

